<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669362702856-hoajm5f5csaj5fmlasno46huq2hi7gap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669362702856-hoajm5f5csaj5fmlasno46huq2hi7gap</string>
	<key>API_KEY</key>
	<string>AIzaSyAwQH0udFXHiDucZtQE0cRCrtUKORQBXKk</string>
	<key>GCM_SENDER_ID</key>
	<string>669362702856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techlead.moneyManager</string>
	<key>PROJECT_ID</key>
	<string>money-manager-646b3</string>
	<key>STORAGE_BUCKET</key>
	<string>money-manager-646b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669362702856:ios:9094e8aefe42e3ba365fbd</string>
</dict>
</plist>